body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--color-light);
    line-height: 1.3;
}
.container {
    --max-width: 1200px;
    --padding-inline: 20px;
    margin-inline: auto;
    max-width: calc(var(--max-width) - (var(--padding-inline) * 2));
    padding-inline: 20px;
}
