:root {
    --color-black: #000;
    --color-dark: #000000B2;
    --color-white: #FFF;
    --color-light: #F1F1F1;
    --color-ligher: #D2D2D2;
    --color-success: #008180;
    --color-warning: #F4C959;
    --color-error: #FC5151;
    --color-yellow: #ffee00;
}
